{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure     {:mvn/version "1.10.1"}
           metosin/reitit          {:mvn/version "0.5.2"}
           ring/ring-jetty-adapter {:mvn/version "1.8.1"}
           clj-pkg/auth            {:mvn/version "1.0.0"}}
 :aliases {:test    {:extra-paths ["test"]
                     :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}}
           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                     :main-opts  ["-m" "hf.depstar.uberjar" "reitit-auth.jar"
                                  "-C" "-m" "example.reitit-auth"]}}}
